body {
    background: rgb(55, 104, 160);
    color: rgb(82, 44, 94);
    padding: 10px;
    font-family: 'Times New Roman', Times, serif
}

#all-contents {
    max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(82, 44, 94);
    margin: 0 auto;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    border: 4px rgb(12, 173, 179) ridge;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(12, 173, 179);
    flex: 1;
    margin: 0;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-li {
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: rgb(12, 173, 179);
}

/* main container area beneath menu */
main {
    background: rgb(12, 173, 179);
    display: flex;
    margin-top: 20px;
    border: 4px rgb(82, 44, 94) ridge;
}

.sidebar {
    margin-right: 25px;
    padding: 10px;
}

.sidebar-img {
    width: 200px;
}

.content {
    flex: 1;
    padding: 15px;
}

/* interests section styles */
#interests {
    border: 4px rgb(55, 104, 160) ridge;
    padding: 8px;
    margin-top: 20px;
    background-color: rgb(12, 173, 179)
}

h2, h3 {
    margin: 0px;
    color: rgb(82, 44, 94);
}

/* Portfolio styles */
.content h1 {
  color: rgb(82, 44, 94);
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: rgb(82, 44, 94);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 4px rgb(55, 104, 160) ridge;
}

#portfolio li:hover {
  background: rgb(55, 104, 160);
  border: 4px rgb(82, 44, 94) ridge;
}

#portfolio a {
  text-decoration: none;
  color: rgb(12, 173, 179);
}

/* responsive web design */
@media screen and (min-width: 120px) and (max-width: 1080px) {
  main {
    height: 100ch;
    zoom: 1.5;
    display: grid;
  }

  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 36px;
  }

  #all-contents {
    height: 100ch;
    margin: none;
  }

  a {
    font-size: 42px;
  }

  .sidebar {
    margin-right: 0px;
    justify-content: center;
    align-items: center;
  }

  .sidebar-img {
    width: 100%;
  }

  p,
  li {
    font-size: 24px;
  }

  .content {
    align-content: center;
    justify-content: center;
  }
}